<div class="container main-container">
  <div class="row">
    <div class="col-sm-12" ng-if="homeCtrl.artistDataArr.length === 0">
      	<button type="button" class="btn btn-lg btn-primary btn-artist-search border-radius-0" open-close-dialog dialog-functional-data="'show'" modal-element="{{homeCtrl.artistSearchModalId}}">Search Artist</button>
    </div>
    <div class="col-sm-12 artists-tab" ng-if="homeCtrl.artistDataArr.length > 0">

    	<!-- Nav tabs -->
    	<ul class="nav nav-tabs" role="tablist">
    		<li ng-repeat="tab in homeCtrl.artistDataArr track by $index" ng-class="{'active': homeCtrl.currentTab === $index}" ng-click="homeCtrl.fetchArtistDetails($index)"><a href="javaccript:void(0)">{{tab}}</a></li>
    	</ul>

    	<!-- Tab panes -->
    	<div class="tab-content">
    		<div class="tab-pane active">
          <div class="artist-details">Artist: {{homeCtrl.artistDetails.artistName}}</div>  
          <div class="artist-details">Track: {{homeCtrl.artistDetails.trackName}}</div> 
        </div>
    	</div>

    </div>
  </div>
</div>

<!-- Modal UI -->
<div class="modal fade" id="searchArtistModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog cub-modal-dialog" role="document">
    <div class="modal-content border-radius-0">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Artist Search</h4>
      </div>
      <div class="modal-body">
        <form  class="form-horizontal form-label-left" name="artistSearch" novalidate ng-submit="homeCtrl.searchArtist()">
			<div class="form-group custom-form-group">
				<label class="control-label col-md-4 col-sm-4 col-xs-12">Name</label>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<input type="text" name="artistName" class="form-control col-md-7 col-xs-12 border-radius-0" required="required" ng-model="homeCtrl.artistName" ng-pattern="homeCtrl.nameCheck" />
					<span class="error" ng-show="artistSearch.artistName.$dirty && artistSearch.artistName.$invalid">Artist name should be "jack" only</span>
				</div>
			</div>
			<div class="form-group custom-form-group">
				<label class="control-label col-md-4 col-sm-4 col-xs-12">No. of tracks</label>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<input type="number" ng-model="homeCtrl.noOfTracks" name="noOfTracks" class="form-control col-md-7 col-xs-12 border-radius-0" ng-pattern="homeCtrl.trackCheck" required="required" />
					<span class="error" ng-show="artistSearch.noOfTracks.$dirty && artistSearch.noOfTracks.$invalid">No. of track should be "4" only</span>
				</div>
			</div>
			<div class="ln_solid"></div>
			<div class="form-group">
				<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4 top-2">
					<button type="reset" class="btn btn-cancel border-radius-0">Cancel</button>
					<button type="submit" class="btn btn-success border-radius-0" ng-disabled="artistSearch.$invalid">Submit</button>
				</div>
			</div>
		</form>
      </div>
    </div>
  </div>
</div>

    