  *{
  margin:0px;
  padding: 0px;
}
body {
    width: 100%;
    background: background: #fff;
    font-family: 'Lato', 'Belgrano', sans-serif;
}
html {
    width: 100%;
    height: 100%;
}
h1,h2,h4{
	text-align: center;
	margin: 10px;
}

.main-container{
  margin-top: 6%;
  box-shadow: 0px 0px 5px -1px #000;
  padding: 2%;
  min-height: 500px;
}
.btn-artist-search{
  display: block;
  margin:20% auto;
}
.custom-form-group input{
  height: 40px;
}
.cub-modal-dialog{
  top: 14%;
}
.cub-modal-dialog .modal-header{
  background-color: #d5d5d5;
}
.cub-modal-dialog .modal-body{
  padding: 5%;
}
.cub-modal-dialog .modal-title{
  font-weight: bold;
}
.top-2{
  margin-top:2%;
}
.border-radius-0{
  border-radius: 0;
}
.error{
  color:red
}
.req-res-message{
  background-color: #333;
  color: gainsboro;
  width: 30%;
  text-align: center;
  bottom: 45px;
  position: fixed;
  padding: 10px;
  display: none;
  margin: 0 35%;
}
.artists-tab .nav>li>a {
  padding: 11px 16px;
  background-color: #d5d5d5;
  margin-right: 0;
  margin-left: 3px;
  color: #333;
  border-radius: 0;
}
.artists-tab .nav>li.active>a{
  background-color: #fff;
  color:#0000FF;
}
.tab-content{
  margin:10%;
}
.loader{
  background-image: url('../Loading_icon.gif');
}
.artist-details{
  font-size: 18px;
  text-align: center;
  padding:10px;
}